.form {
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  width: 28rem;
  box-shadow: 10px 7px 10px rgba(0,0,0,0.17);

  &__heading {
    color: rgb(50, 50, 50);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
  }
}

.form__group {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding-inline: 1rem;
}

.form__hide {
    display: none;
}

.form__img {
    align-items: center;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    transition: all .3s ease;

    &:hover {
        background-color: darken(rgb(194, 194, 194), 20%);
        transform: scale(1.1);
    }

    & i {
        font-size: 3rem;
        color: #fff;
    }
}

.form__label {
    color: #111;
    font-weight: 600;
    text-align: center;
}

.form__input {
    background: none;
    border: none;
    border-bottom: 1.5px solid rgb(90, 90, 90);
    outline: none;
    padding-bottom: 5px;
    text-align: center;
}


.form__button {
  background-color: #8FBE3C;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
  transition: background-color .3s ease;

  &:hover {
      background-color: darken(#8FBE3C, 10%);
  }
}


.copyright {
    align-items: center;
    background-color: #8FBE3C;
    display: flex;
    height: 10%;
    justify-content: space-around;

    & p {
        color: #fff;
        font-weight: 700;
    }
}
